<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="dstore.Properties.Settings.departmentalstoreConnectionString"
            connectionString="server=localhost;user id=ahnupsingh;password=Startwithme-55;persistsecurityinfo=False;database=departmentalstore"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>